body {
  margin: 0;
background-attachment: fixed;  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("mesh-gradient (8).png");
}

.contain-logsign {
  width: 90%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.292);

  text-align: center;
}

/* العنوان */
#logsign {
  font-family: "Momo Trust Display", sans-serif;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 50px;
  letter-spacing: 7px;
}

input {
  width: 100%;
  padding: 6px 6px;
  margin: 10px 0;
  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 15px;
}

input::placeholder {
  color: #eee;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.9);
  color: #222;
  font-size: 16px;
  font-weight: bold;
  transition: 0.25s;
}

button:hover {
  background: rgba(255, 255, 255, 1);
  transform: translateY(-2px);
}
.signup {
color: #eee;
display: inline;
font-family: "Momo Trust Display", sans-serif;
word-spacing: 5px;
}


